p { font-size: 30px;
    color:blue


}
h1 { color:fuchsia;
    background-color: darkgray;
    text-align: center;

}
body {background-color: beige;}
img{text-align: ;}
main{background-color: black;}