* {
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#cherry {
    grid-column: 1/2;
    grid-row: 1/3;
    z-index: -1;
    justify-self: center;
}
.title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 100px;
    text-align: center;
}
#para {
    text-align: center;
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: 50px;
    letter-spacing: 1cm;
    color: darkred;
}
#backround {
    height: 100%;
    background-color: grey;
    grid-column: 2/2;
    grid-row: 1/3;
    z-index: -1;
}

