* {
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 25px;
    text-align: center;
    }

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 25px;
}

nav a:hover {
    color: steelblue;
    background-color: white;
}

h1 {
    margin: 50px 0;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
}

img {
    max-width: 1000px;
    border: 8px solid steelblue;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: steelblue;
    color: white;
}