#content {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
}


.red {
    width: 100%;
    height: 100px;
     background-color: red;
}
.blue {
    width: 100%;
    height: 100px;
     background-color: blue;
}
.yellow {
    width: 100%;
    height: 100px;
     background-color: yellow;
}
.green {
    width: 100%;
    height: 100px;
     background-color: green;
}